<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{customComponent.id}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div [hidden]="showing">
        <div [hidden]="customComponent.id.length > 0">
            <ion-select value="select" required [(ngModel)]="customComponentId" name="customComponentIdSelect" class="form-control" placeholder="Seleccione un componente">
                <ion-select-option *ngFor="let eachComponent of customComponents" value="{{eachComponent.id}}">{{eachComponent.id}}</ion-select-option>
            </ion-select>
            <ion-button (click)="loadElements()" [disabled]="!measurementForm.form.valid" class="btn btn-default">
                Seleccionar
            </ion-button>
        </div>


        <form #measurementForm="ngForm" [hidden]="customComponent.id.length == 0">
            <h1>Nueva medición</h1>

            <ion-card *ngFor="let sensor of customComponent.sensors" class="multiline">
                <ion-card-header>
                    <ion-card-title>
                        <ion-checkbox [(ngModel)]="sensor.newMeasurement.active" name="active-{{sensor.id}}"></ion-checkbox>
                        {{sensor.id}}
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content [hidden]="!sensor.newMeasurement.active">

                    <ion-item>
                        <ion-label position="floating">Fecha</ion-label>
                        <ion-datetime display-format="YYYY-MM-DD HH:mm" name="date-{{sensor.id}}" [(ngModel)]="sensor.newMeasurement.date"></ion-datetime>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Unidad</ion-label>
                        <ion-input name="unit-{{sensor.id}}" [(ngModel)]="sensor.unit" disabled></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Valor</ion-label>
                        <ion-input type="text" [required]="sensor.newMeasurement.active" inputmode="text" name="value-{{sensor.id}}" [(ngModel)]="sensor.newMeasurement.value" class="form-control"></ion-input>
                    </ion-item>


                </ion-card-content>
            </ion-card>

            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-button expand="block" fill="outline" (click)="sendMeasurements()" class="btn btn-default" color="tertiary">
                            <ion-icon name="save" color="tertiary"></ion-icon>
                            Guardar
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button expand="block" fill="outline" (click)="cancelMeasurement()" class="btn btn-default">
                            <ion-icon name="close"></ion-icon>
                            Cancelar
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>

    </div>
    <div [hidden]="!showing">
        <h1>Ultimas mediciones</h1>
        <ion-card *ngFor="let sensor of customComponent.sensors" class="multiline">
            <ion-card-header>
                <ion-card-title>
                    {{sensor.id}}
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-item>
                    <ion-label position="floating">Fecha</ion-label>
                    <ion-datetime display-format="YYYY-MM-DD HH:mm" name="date-{{sensor.id}}" [(ngModel)]="sensor.lastMeasurement.date" disabled></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Unidad</ion-label>
                    <ion-input name="unit-{{sensor.id}}" [(ngModel)]="sensor.unit" disabled></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Valor</ion-label>
                    <ion-input type="text" inputmode="text" name="value-{{sensor.id}}" [(ngModel)]="sensor.lastMeasurement.value" class="form-control" disabled></ion-input>
                </ion-item>
            </ion-card-content>
        </ion-card>

        <ion-button expand="block" fill="outline" (click)="addMeasurement()" class="btn btn-default bottom-button">
            <ion-icon name="add-circle-outline"></ion-icon>
            Nueva medición
        </ion-button>
    </div>
</ion-content>