<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{customComponent.id}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #measurementForm="ngForm">
        <h1>Nueva medición</h1>
        <ion-card *ngFor="let sensor of customComponent.sensors" class="multiline">
            <ion-card-header>
                <ion-card-title>
                    <ion-checkbox [(ngModel)]="sensor.newMeasurement.active" name="active-{{sensor.id}}"></ion-checkbox>
                    {{sensor.id}}
                </ion-card-title>
            </ion-card-header>
            <ion-card-content [hidden]="!sensor.newMeasurement.active">
                <ion-item>
                    <ion-label position="floating">Valor</ion-label>
                    <ion-input type="text" [required]="sensor.newMeasurement.active" inputmode="text" name="value-{{sensor.id}}" [(ngModel)]="sensor.newMeasurement.value" class="form-control"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Fecha</ion-label>
                    <!-- <ion-input type="date" [required]="sensor.newMeasurement.active" inputmode="date" name="date-{{sensor.id}}" [(ngModel)]="sensor.newMeasurement.date" class="form-control"></ion-input> -->
                    <ion-datetime display-format="YYYY-MM-DD HH:mm" name="date-{{sensor.id}}" [(ngModel)]="sensor.newMeasurement.date"></ion-datetime>
                </ion-item>
            </ion-card-content>
        </ion-card>


    </form>

    <ion-button (click)="sendMeasurements()" [disabled]="!measurementForm.form.valid" class="btn btn-default">
        Guardar
    </ion-button>
</ion-content>