<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>measurement-view</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <form [formGroup]="measurementGroup" padding-right>
        <ion-item>
            <ion-label position="floating">Email/Username</ion-label>
            <ion-input type="text" formControlName="name" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="number" formControlName="data" required></ion-input>
        </ion-item>

        <ion-button color="primary" expand="block" [disabled]="!measurementGroup.valid" (click)="loginForm()">Login</ion-button>
    </form> -->
    <form #measurementForm="ngForm" padding-right padding-left>
        <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" required [(ngModel)]="measurement.name" name="name" class="form-control" [readonly]="!modify" [disabled]="!modify"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Data</ion-label>
            <ion-input type="number" inputmode="numeric" required [(ngModel)]="measurement.data" name="measurement" class="form-control" [readonly]="!modify" [disabled]="!modify"></ion-input>
        </ion-item>

        <ion-button (click)="submit()" [disabled]="!measurementForm.form.valid" class="btn btn-default" [hidden]="!modify">
            Click me
        </ion-button>

    </form>
</ion-content>