<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{customComponent.id}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="showMeasurements()" class="btn btn-default" [hidden]="modify">
        Ver mediciones
    </ion-button>
    <ion-button (click)="addMeasurements()" class="btn btn-default" [hidden]="modify">
        Nueva medición
    </ion-button>
    <h1>Información del componente</h1>
    <form #componentForm="ngForm">
        <ion-item [hidden]="customComponent.id && !creation">
            <ion-label position="floating">Identificador</ion-label>
            <ion-input type="text" [(ngModel)]="customComponent.id" name="componentId" class="form-control" [readonly]="!creation" [disabled]="!creation"></ion-input>
        </ion-item>

        <ion-item [hidden]="customComponent.hasNewType">
            <ion-label>Tipo</ion-label>
            <ion-select [required]="!customComponent.hasNewType" [(ngModel)]="customComponent.type.id" name="typeName" class="form-control" [disabled]="!modify">
                <ion-select-option *ngFor="let customComponentType of customComponentTypes" value="{{customComponentType.id}}">{{customComponentType.id}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item [hidden]="!customComponent.hasNewType || !modify">
            <ion-label position="floating ">Otro tipo</ion-label>
            <ion-input type="text " inputmode="text " [required]="customComponent.hasNewType" [(ngModel)]="customComponent.newType.id" name="otherTypeName " class="form-control " [disabled]="!modify "></ion-input>
        </ion-item>

        <ion-item [hidden]="!modify">
            <ion-checkbox [(ngModel)]="customComponent.hasNewType" name="hasNewType_c "></ion-checkbox>
            <ion-label>El tipo no aparece en la lista</ion-label>
        </ion-item>

        <ion-item>
            <ion-label position="floating ">Descripción</ion-label>
            <ion-input type="text " inputmode="text " [(ngModel)]="customComponent.description " name="description " class="form-control " [readonly]="!modify " [disabled]="!modify "></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating ">Longitud</ion-label>
            <ion-input type="number " inputmode="number " [(ngModel)]="customComponent.location.longitude " name="longitude " class="form-control " [readonly]="!modify " [disabled]="!modify "></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating ">Latitud</ion-label>
            <ion-input type="number " inputmode="number " [(ngModel)]="customComponent.location.latitude " name="latitude " class="form-control " [readonly]="!modify " [disabled]="!modify "></ion-input>
        </ion-item>

        <h2>Sensores asociados</h2>
        <ion-card *ngFor="let sensor of customComponent.sensors ">

            <ion-item>
                <ion-label position="floating ">Identificador</ion-label>
                <ion-input type="text " required [(ngModel)]="sensor.id " name="sensor_Id-{{sensor.id}} " class="form-control " [readonly]="true " [disabled]="true "></ion-input>
            </ion-item>

            <ion-item [hidden]="sensor.hasNewType">
                <ion-label>Tipo</ion-label>
                <ion-select [required]="!sensor.hasNewType" [(ngModel)]="sensor.type.id" name="sensorTypeName_s" class="form-control" [disabled]="!modify">
                    <ion-select-option *ngFor="let sensorType of sensorTypes" value="{{sensorType.id}}">{{sensorType.id}}</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item [hidden]="!sensor.hasNewType || !modify">
                <ion-label position="floating ">Otro tipo</ion-label>
                <ion-input type="text " inputmode="text " [required]="sensor.hasNewType" [(ngModel)]="sensor.newType.id" name="otherTypeName_s " class="form-control " [disabled]="!modify "></ion-input>
            </ion-item>

            <ion-item [hidden]="!modify">
                <ion-checkbox [(ngModel)]="sensor.hasNewType" name="hasNewType_s "></ion-checkbox>
                <ion-label>El tipo no aparece en la lista</ion-label>
            </ion-item>

            <ion-item>
                <ion-label position="floating ">Descripción</ion-label>
                <ion-input type="text " inputmode="text " [(ngModel)]="sensor.description " name="sensor_description-{{sensor.id}} " class="form-control " [readonly]="!modify " [disabled]="!modify "></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating ">Unidad</ion-label>
                <ion-input type="text " inputmode="text " [(ngModel)]="sensor.unit " name="sensor_unit-{{sensor.newId}} " class="form-control " [readonly]="!modify " [disabled]="!modify "></ion-input>
            </ion-item>

        </ion-card>

        <ion-card *ngFor="let sensor2 of newSensors " class="multiline ">
            <ion-card-content>

                <ion-item>
                    <ion-label position="floating ">Identificador</ion-label>
                    <ion-input type="text " required [(ngModel)]="sensor2.id " name="sensor2_Id-{{sensor2.newId}} " class="form-control "></ion-input>
                </ion-item>

                <ion-item [hidden]="sensor2.hasNewType">
                    <ion-label>Tipo</ion-label>
                    <ion-select [required]="!sensor2.hasNewType" [(ngModel)]="sensor2.type.id" name="sensorTypeName_s2" class="form-control" [disabled]="!modify">
                        <ion-select-option *ngFor="let sensorType of sensorTypes" value="{{sensorType.id}}">{{sensorType.id}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item [hidden]="!sensor2.hasNewType || !modify">
                    <ion-label position="floating ">Otro tipo</ion-label>
                    <ion-input type="text " inputmode="text " [required]="sensor2.hasNewType" [(ngModel)]="sensor2.newType.id" name="otherTypeName_s2 " class="form-control " [disabled]="!modify "></ion-input>
                </ion-item>

                <ion-item [hidden]="!modify">
                    <ion-checkbox [(ngModel)]="sensor2.hasNewType" name="hasNewType_s2 "></ion-checkbox>
                    <ion-label>El tipo no aparece en la lista</ion-label>
                </ion-item>

                <ion-item>
                    <ion-label position="floating ">Descripción</ion-label>
                    <ion-input type="text " inputmode="text " [(ngModel)]="sensor2.description " name="sensor2_description-{{sensor2.newId}} " class="form-control "></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating ">Unidad</ion-label>
                    <ion-input type="text " inputmode="text " [(ngModel)]="sensor2.unit " name="sensor2_unit-{{sensor2.newId}} " class="form-control "></ion-input>
                </ion-item>

                <ion-button (click)="removeSensor(sensor2.newId) " class="btn btn-default " [hidden]="creation && newSensors.length==1 ">
                    Borrar sensor
                </ion-button>
            </ion-card-content>
        </ion-card>

        <ion-button (click)="addSensor() " class="btn btn-default " [hidden]="!modify ">
            Añadir sensor
        </ion-button>


    </form>

    <ion-button (click)="submitComponent() " [disabled]="!componentForm.form.valid " class="btn btn-default " [hidden]="!modify ">
        Guardar
    </ion-button>

    <ion-button (click)="enableModify() " class="btn btn-default " [hidden]="modify ">
        Modificar
    </ion-button>
</ion-content>