<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>

    <!-- Formulario de autenticación -->
    <form #loginForm="ngForm">
        <ion-text color="primary">
            <h1>Introduzca el nombre, el token de proveedor y la url de la API de su organización de Sentilo para acceder </h1>
        </ion-text>
        <ion-item>
            <ion-label position="floating">Identificador del proveedor</ion-label>
            <ion-input type="text" inputmode="text" required [(ngModel)]="name" name="name" class="form-control"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Token del proveedor</ion-label>
            <ion-input type="text" inputmode="text" required [(ngModel)]="token" name="token" class="form-control"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">URL de la API de Sentilo</ion-label>
            <ion-input type="url" inputmode="url" required [(ngModel)]="apiURL" name="apiURL" class="form-control"></ion-input>
        </ion-item>
    </form>

    <ion-button expand="block" fill="outline" (click)="loginProvider()" [disabled]="!loginForm.form.valid" class="btn btn-default bottom-button">
        Entrar
    </ion-button>

</ion-content>