<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Bienvenido/a
        </ion-title>
    </ion-toolbar>
</ion-header>

<main class="scroll-content">
    <ion-spinner [hidden]="loaded"></ion-spinner>
    <ion-list [hidden]="!loaded">
        <ion-item *ngFor="let sensor of sensors" detail="true" (click)="navigate2(sensor.id)">
            <ion-label>
                <ion-text color="primary " class="title ">
                    <h1>{{sensor.id}}</h1>
                    <ion-text> ({{sensor.type.id}})</ion-text>
                </ion-text>
                <ion-text> {{sensor.description}}</ion-text>
            </ion-label>
        </ion-item>
    </ion-list>
</main>



<!-- <ion-content>
    <ion-card tappable (click)="navigate( 'measurement-view',0,true) ">
        <ion-card-header>
            <ion-card-title>Tomar medidas</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card tappable (click)="navigate( 'component-list') ">
        <ion-card-header>
            <ion-card-title>Ver componentes</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card tappable (click)="navigate( 'component-view',0,true) ">
        <ion-card-header>
            <ion-card-title>Crear componente</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card tappable (click)="navigate( 'sensor-view',0,true) ">
        <ion-card-header>
            <ion-card-title>Crear sensor</ion-card-title>
        </ion-card-header>
    </ion-card>
</ion-content> -->