.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}

main {
    flex-grow: 1;
}

ion-item {
    margin-bottom: 5px;
}

// .title {
//     display: block;
//     margin: 5px 0 10px;
//     h1 {
//         display: inline;
//     }
// }