<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Bienvenido/a
        </ion-title>
    </ion-toolbar>
</ion-header>

<main class="scroll-content">
    <ion-list>
        <ion-card *ngFor="let component of components" tappable (click)="navigateToComponent(component.id) ">
            <ion-card-header>
                <ion-card-title color="primary ">{{component.id}} ({{component.type.id}})</ion-card-title>
                <ion-text>{{component.description}}</ion-text>
                <ion-list *ngFor="let sensor of component.sensors">
                    <ion-item>
                        <ion-label>{{sensor.id}} ({{sensor.type.id}})</ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-header>

        </ion-card>
    </ion-list>

    <!-- <ion-fab vertical="bottom" horizontal="right" slot="fixed">
        <ion-fab-button>
            <ion-icon (click)="navigateToComponent('')" name="add">+</ion-icon>
        </ion-fab-button>
    </ion-fab> -->
</main>